.carousel-container {
  width:100vw;
  position: relative;
  overflow: hidden;
  padding: 50px;
   object-fit: cover;

}

.slide {
  position: relative;
  text-align: center;
}

.slide-image {
  width: 100vw;
  height: 60vh;
  filter: brightness(0.6);
   border-radius: 10px;
   /* background-size: con; */
   /* object-fit: contain; */
   /* background-size: cover; */
  
}

.slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.slide-overlay h2 {
  font-size: 1rem;
  /* font-weight: 600; */
  text-transform: uppercase;
  color: #ffeb3b;
}

.slide-overlay h1 {
  font-size: 1.5rem;
  /* font-weight: 800; */
  text-transform: uppercase;
  margin-top: 10px;
  color: #ff5722;
}

.slide-overlay button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #a4ff6b;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.slide-overlay button:hover {
  background-color: #90ee90;
}

/* === Flèches personnalisées === */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(255, 87, 34, 0.8);
}

/* Position gauche/droite */
.next {
  right: 25px;
  transform: translateY(-50%) rotate(0deg);
}

.prev {
  left: 25px;
  transform: translateY(-50%) rotate(180deg);
}

/* Petits points (dots) */
.slick-dots li button:before {
  color: white;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #ff5722;
}
